.generation-controls {
	width: max-content;
	display: flex;
	flex-direction: column;
	padding: 10px 5px;
}

.generation-controls > * {
	margin: 5px 0;
}

.generation-controls > #generate {
	cursor: pointer;
}

.game-container {
	height: 90vh;
	width: 90vh;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

td {
	border: 1px solid black;
}

.game {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
}

.dead {
	background-color: #00000000;
}

.alive {
	background-color: #ff0000ff;
}

.controls {
	width: max-content;
	display: flex;
	flex-direction: column;
}

#start-simulation {
	margin-top: 10px;
	width: 100%;
}